.vendor-row:hover {
  transform: scale(1.01);
  box-shadow:   
  0 10px 5px rgba(0, 0, 0, 0.072),
  0 20px 12px rgba(0, 0, 0, 0.086),
  0 50px 30px rgba(0, 0, 0, 0.12);
  transition: .2s ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }
}

@media (max-width: 1290px) {
  .wide-view {
    display: none;
  }
}