.payee-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.detail-card {
  margin-bottom: 1.5rem;
  width: 97%;
}

.info-col {
  margin-bottom: .3rem;
  padding: 0 .2rem;
  
}

.pay-info {
  padding: 0 .2rem;
}

.cvv {
  padding: 0;
}

.contact-info {
  margin-bottom: 1rem;
}

.payment {
  margin-bottom: 2rem;
}

.my-hr {
  height: 1px;
  margin: .5rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}

.tag {
  margin-right: .5rem;
}

.my-col {
  padding-right: 0;
}