.payee-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.detail-card {
  margin-bottom: 2rem;
  width: 97% !important;
}

.my-hr {
  height: 1px;
  margin: .5rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}

.my-col {
  padding-right: 0 !important;
}