.column:hover {
  /* color: grey; */
  background-color: rgb(202, 220, 255);
  transition: .2s ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }
}

@media (max-width: 1290px) {
  .wide-view {
    display: none;
  }
}