.detail-card {
  background-color: rgb(232, 245, 255) !important;
}

.my-row {
  width: 100%;
}

.payee-name {
  font-size: 4rem;
  margin-bottom: 0 !important;
}

.payee-id {
  font-weight: 300;
}

.my-hr {
  height: 1px;
  margin: .5rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}

.descript {
  font-style: italic;
}

.payor-name {
  font-weight: 500;
  font-size: 1.7rem;
}

.payor-id {
  font-weight: 200;
  text-align: end;
}

.remit-row {
  justify-content: center;
  font-weight: 300;
}
.main-remit-row {
  justify-content: center;;
}