body {
  margin: 0;
  font-family: 'Mulish', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Mulish', sans-serif;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: rgb(224, 241, 255) !important;
  color: var(--bs-table-striped-color);
}

.card {
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16) !important;
}

@media (max-width: 576px) {
    .detail-card {
      margin-bottom: 0 !important;
      border-bottom: 1px solid !important;
      border-radius: 0 !important;
      border-right: none !important;
      border-left: none !important;
    }
    .modal-dialog {
      width: 100% !important;
      margin: 0 !important;
    }
    .vendor-popup {
      padding: 0 !important;
    }
    .remit-row {
      padding: 0 !important;
      width: 97% !important;
    }
    .remit-container {
      padding: 0 !important;
    }
    .descript {
      font-size: .8rem
    }
    .my-row {
      margin-bottom: 0 !important;
    }
    .lead {
      font-size: 1rem !important;
    }
    .card-body {
      padding: .5rem !important;
    }
    .modal-body {
      padding: .5rem 0 !important;
    }
}
